<!DOCTYPE html>
<html>
<head>
	<title>University Details</title>
	{% load static %}
	
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Search Universities</title>
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>

    <!-- Additional CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>


    <!-- <link rel="stylesheet" href="{% static 'assets/css/style2.css' %}"> -->

    <script src="{% static 'assets/index.js' %}"></script>
</head>
<body>
  <div class="ict-header">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <ul class="left-info">
            <li><a href="index">URS</a></li>              
            <!-- <li class="logo"><img src="assets/images/logo.png" alt=""></li>               -->
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="right-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href=""><h2>University Recommendation System</h2></a>
        <!-- <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
          <ul class="mobile-menu">
            <li><a href="index" style="color: white; font-size: 30px;">Home</a></li>
            <li><a href="about"  style="color: black; font-size: 30px">About us</a></li>
            <li><a href="getyourdestination" style="color: black; font-size: 30px">Get Your Destination</a></li>
            {% if user.is_authenticated %}
            <li><a href="logout" style="color: black; font-size: 30px">Logout</a></li>
            {% else %}
            <li><a href="form" style="color: black; font-size: 30px">Login</a></li>
            {% endif %}
          </ul>
        </div> -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="index">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About Us</a>
            </li>  
            <li class="nav-item active">
              <a class="nav-link" href="getyourdestination">Get Your Destination
                <span class="sr-only">(current)</span>
              </a>
            </li>                          
            <li class="nav-item">
              <a class="nav-link" href='contact'>Contact Us</a>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
              <a class="nav-link" href="logout">Logout</a>
              {% else %}
              <a  class="nav-link"  href="form">Login</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

	<div class="container mt-5 pt-5">
    <div class="col-md-6 mx-auto">
      <h1>Search Across All Universities of Pakistan</h1>
      <div id="autocomplete" class="autocomplete">
        <input class="autocomplete-input" />
        <ul class="autocomplete-result-list"></ul>
      </div>
      <div id="university-info"></div>
    </div>
  </div>
  
  <script>
    new Autocomplete('#autocomplete', {
      search: input => {
        const url = `/get-name/?search=${input}`;
        return new Promise(resolve => {
          fetch(url)
            .then(response => response.json())
            .then(data => {
              resolve(data.payload);
            })
        });
      },
      renderResult: (result, props) => {
        let group = '';
        if (result.index % 2 == 0) {
          group = '<li class="group">Group</li>';
        }
        return `
          ${group}
          <li ${props}>
            <div class='wiki-title' onclick="getUniversityData('${result['name']}', '${result['impact_rank']}', '${result['openness_rank']}', '${result['global_rank']}', this)">
              ${result['name']}
            </div>
          </li>
        `;
      },
      getResultValue: result => result['name']
    });
  
    function getUniversityData(name, impact_rank, openness_rank, global_rank, el) {
      const universityData = `
        <div class="university-data">
          <h2>${name}</h2>
          <ul>
            <li>Impact Rank: ${impact_rank}</li>
            <li>Openness Rank: ${openness_rank}</li>
            <li>Global Rank: ${global_rank}</li>
          </ul>
        </div>
      `;
      document.getElementById("university-info").innerHTML = universityData;
    }
  
    document.getElementById("search-form").addEventListener("submit", function(event) {
      event.preventDefault();
      const inputEl = document.getElementById("autocomplete");
      const inputValue = inputEl.value;
      const url = `/get-name/?search=${inputValue}`;
  
      fetch(url)
        .then(response => response.json())
        .then(data => {
          const result = data.payload[0];
          if (result) {
            const name = result['name'];
            const impact_rank = result['impact_rank'];
            const openness_rank = result['openness_rank'];
            const global_rank = result['global_rank'];
            getUniversityData(name, impact_rank, openness_rank, global_rank);
          }
        })
        .catch(error => {
          console.error(error);
        });
    });
  </script>
  


  
  
  
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

  
</body>
</html>
